<!DOCTYPE html>
<html lang="en">

  <% include ../partials/head %>

  <body>
    <div class="container">

      <% include ../partials/header %>

      <div class="row hero-image"></div>

      <div class="row">
        <% for (let bike of dataBike){ %>
        <div class="col-12 col-sm-6 col-md-4 bike-card">
          <div class="card text-center">
            <img class="card-img-top" src="<%= bike.url %>">
            <div class="card-body">
              <h5 class="card-title"><%= bike.name %></h5>
              <div class="price-button">
                <span class="shop-price"><%= bike.price %>€</span>
                <form action="/add-bike" method="POST">
                  <input type="hidden" name="bikeName" value="<%= bike.name %>">
                  <input type="hidden" name="bikePrice" value="<%= bike.price %>">
                  <input type="hidden" name="bikeImage" value="<%= bike.url %>">
                  <input type="hidden" name="bikeQuantity" value="1">
                  <button type="submit" class="btn btn-outline-info btn-lg" name="button">Buy</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>

    </div>

    <% include ../partials/script %>
  </body>
</html>
